
</main>
</body>
<footer class="page-footer">
    <div class="right">
    License #1069192, A, B, HAZ, C61/D40
    <br>
    5050 E. Garford St. Unit #138
    Long Beach, CA, 90815
    <br>
    Ph: (310) 740-3143
    Email: CJRConstruction.Consulting@gmail.com
    </div>
 </footer>
</html>